
  <div class="metro-layout horizontal">
    <div class="header">
      <div class="topheader">
        <div class="left">
          <h1>Zocial Wall</h1>
        </div>
        <div class="right">
          <h1>#TAGs</h1>
        </div>
      </div>
    </div>
    <div id="wall-container" class="content clearfix">
      <div class="items">

        <% _.each(data.data, function(dd){ %>
          <div class="box">
            <img id="<%=dd.id%>" src="<%=dd.images.standard_resolution.url %>" />
          </div>
        <% }); %>

      </div>
    </div>
  </div>