
  <div class="metro-layout horizontal">
    <div class="header">
      <div class="header-top">
        <div class="head-left">
          <h1>Zocial Wall</h1>
        </div>
        <div class="head-right">
          <h1>#HASH</h1>
        </div>
      </div>
      <div class="controls">
        <span class="down" title="Scroll down"></span>
        <span class="up" title="Scroll up"></span>
        <span class="next" title="Scroll left"></span>
        <span class="prev" title="Scroll right"></span>
        <span class="toggle-view" title="Toggle layout"></span>
      </div>
    </div>
    <div id="wall-container" class="content clearfix">
      <div class="items">

        <% _.each(data.data, function(dd){ %>
          <div class="box">
            <img id="<%=dd.id%>" src="<%=dd.images.standard_resolution.url %>" />
          </div>
        <% }); %>

      </div>
    </div>
  </div>