
  <div class="metro-layout horizontal">
    <div class="header">
      <div class="head-left">
        <h1>Zocial Wall</h1>  
      </div> 
      <div class="head-right">
        <h1>#HASTAC</h1>
      </div> 
      

    </div>
    <div id="wall-container" class="content clearfix">
      <div class="items">

        <% _.each(data.data, function(dd){ %>
          <div class="box">
            <img id="<%=dd.id%>" src="<%=dd.images.standard_resolution.url %>" />
          </div>
        <% }); %>

      </div>
    </div>
  </div>